{% extends "base.html" %}

{% block content %}
<br/>
<div class="row">
  <div class="col-md-12">
      <div class="text-center">
      <h2 class="mt-2">Get Tags for your Question</h2>
      <br/><br/><br/>
      <form action="" method="post" novalidate>
          {{ form.hidden_tag() }}
          <div class="form-group">
              {{ form.question.label }}<br>
              {{ form.question(size=100) }}
              {% for error in form.question.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
          </div>
          <p>{{ form.submit() }}</p>
      </form>
  </div>
  </div>
  {% endblock %}
  